/////////////////////--- imports and requires ---/////////////////////////////////////

@require colors

/////////////////////--- variables ---////////////////////////////////////////////////



/////////////////////--- styles ---///////////////////////////////////////////////////

[class*="btn-rec-"]
  //width: 80%
  margin: 10px 10px
  text-align: center
  height: 45px
  line-height: 45px

[class*="btn-"]
  cursor: pointer

.btn-rec-new
  background-color: green-color
  border-radius: 3px
  color: text-primary-color
  font-weight: 400
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)

.btn-rec-cancel
  background-color: warning-color
  border-radius: 3px
  color: text-primary-color
  font-weight: 400
  //width: 100px
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)

.btn-rec-transparent
  background-color: transparent;
  color: text-primary-color
  font-size: 20px
  border-radius: 6px
  border-style: solid
  border-width: 1px
  height: 35px
  line-height: 35px

.btn-delete-mini
  //border: 1px solid warning-color
  //border-radius: 50%
  width: 25px
  height: 25px
  line-height: 25px
  font-size: 30px
  text-align: center
  color: warning-color
  display: inline-block
  float: right
  vertical-align: middle;

[class*="btn-round-"]
  width: 35px
  height: 35px
  border-radius: 50%
  border-width: 0px
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5)
  font-size: 30px
  color: text-primary-color
  text-align: center
  display: inline-block

.btn-round-delete
  background-color: warning-color
  line-height: 32px

.btn-round-edit
  background-color: amber-color
  margin-left: 10px
  font-size: 24px
  line-height: 35px

.btn-round-new
  background-color: green-color
  line-height: 35px

.apply-button
  display: block
  margin: 10px auto

.btn-round-move
  background-color: cyan-color
  line-height: 32px
  margin: 0 5px

  i
    font-size: 24px
