/////////////////////--- imports and requires ---/////////////////////////////////////

@require colors

/////////////////////--- variables ---////////////////////////////////////////////////

input-height = 45px

/////////////////////--- styles ---///////////////////////////////////////////////////

a
  text-decoration: none

select
  background-color: transparent
  border-width: 0 0 2px 0
  height: input-height
  line-height: input-height
  font-family: Roboto
  font-size: 18px
  font-weight: 300

select:focus
  outline: none

input[type="text"], input[type="password"], input[type="email"]
  border-width: 0px 0px 2px 0px
  border-style: solid
  border-color: lighten(primary-text-color, 50%)
  height: input-height
  background-color: background-body
  padding-left: 10px
  font-family: Roboto
  font-size: 18px
  font-weight: 300
  line-height: input-height

input[type="text"]::placeholder
  color: lighten(primary-text-color, 50%)

input:focus, textarea:focus
  outline: none

input[type="date"], input[type="number"]
  border-width: 0px 0px 2px 0px
  border-style: solid
  border-color: lighten(primary-text-color, 50%)
  height: input-height
  padding-left: 10px
  font-family: Roboto
  font-size: 18px
  font-weight: 300
  line-height: input-height
form
  width: 100%

table
  width: 100%
  border-collapse: collapse

  th
    text-align: center
    font-weight: 500
    font-size: 18px
    padding-bottom: 10px
    padding-left: 10px
    padding-right: 10px

  #show-in-list
    text-align: center
    width: 100px

  .checkbox-list
    width: 60px
    text-align: center

  td
    height: 70px
    padding: 10px
    text-align: center
