/////////////////////--- imports and requires ---/////////////////////////////////////



/////////////////////--- variables ---////////////////////////////////////////////////

app-bar-height = 70px

/////////////////////--- styles ---///////////////////////////////////////////////////

.w-1
  width: 8.33%

.w-2
  width: 8.33%*2

.w-3
  width: 8.33%*3

.w-4
  width: 8.33%*4

.w-5
  width: 8.33%*5

.w-6
  width: 8.33%*6

.w-7
  width: 8.33%*7

.w-8
  width: 8.33%*8

.w-9
  width: 8.33%*9

.w-10
  width: 8.1%*10

.w-11
  width: 8.1%*11

.w-12
  width: 8.1%*12

[class*="w-"]
  //float: left
  display: inline-block
  padding: 0px
  //height: inherit

.row
  content: ""
  clear: both
  display: inline-block
  //height: inherit;
  width: 100%

.center
  width: 100%
  text-align: center
