/////////////////////--- imports and requires ---/////////////////////////////////////

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500&subset=latin,latin-ext);
@require colors
//@require grid
//@require header

/////////////////////--- variables ---////////////////////////////////////////////////

padding-a = 10%

/////////////////////--- Styles ---///////////////////////////////////////////////////

nav
  position: fixed
  display: block
  width: inherit
  padding: 10px 0px
  border-style: solid
  border-color: divider-color
  border-width: 0px 0px
  box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.5)
  min-height: 100%
  padding-top: 90px
  background-color: white
  z-index: 1

  a
    text-decoration: none
    padding: 20px padding-a
    width: 80%
    display: block
    color: primary-text-color
    font-weight: 500
