.properties
  /*width: 17.5%
  position: fixed
  right: 0
  border-style: solid
  border-color: divider-color
  border-width: 0px 0px
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.5)
  min-height: 100%*/
  padding: 15px !important
  padding-top: 90px !important
  //background-color: white
  z-index: 1100 !important

ul
  list-style: none
  margin-top: 30px
  padding-left: 0
  margin: 30px 10%

  li
    height: 30px
    cursor: pointer
    line-height: 30px
    vertical-align: middle
    padding: 10px 10px

/*.properties
  width: 80%
  margin: 10px 10%
  padding-left: 0*/

#schema-name
  width: 80%
  margin: 10px 10%

#new-schema-name
  width: 76%
  margin: 10px 10%
  padding: 0 2%

.right-align
  margin-right: 10%
  float: right

.left-align
  margin-left: 10%

#new-schema-form
  display: none
  animation: expand 0.3s

.fadeIn
  display: none
  animation: fadeIn 0.3s

@keyframes expand
  from
    height: 0
  to
    height: 107px

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1
