/////////////////////--- imports and requires ---/////////////////////////////////////

@require colors

/////////////////////--- variables ---////////////////////////////////////////////////



/////////////////////--- styles ---///////////////////////////////////////////////////
#schema-fields-list
  width: 100%
  float: left
  display: inline-block
  padding: 0px
  height: inherit

.properties-title
  display: inline-block
  margin: 0px 10% 20px 10%
  width: 80%
  text-align: center

.name-field
  text-align: left

#numberFields
  display: none
  position: fixed
  width: 50%
  height: 240px
  top: 25%;
  left: 20%
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
  background-color: white
  z-index: 4

  label,input
    display: inline-block

  table
    margin-top: 0

    td
      border-width: 0
      padding: 0 10px
      text-align: right

    .input-number
      text-align: left
      padding-left: 20px

#optionList
  display: none
  position: fixed
  width: 50%
  //height: 240px
  top: 100px
  left: 20%
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
  background-color: white
  z-index: 4
  padding: 30px 0;

  label,input
    display: inline-block

  table
    margin-top: 0

    td
      border-width: 0
      padding: 0 10px
      width: 100px

      .single-dropdown
        margin: 0 auto
        width: 300px

        .delete-dropdown
          margin: 7px 5px
          float: right


#optionLink
  display: none
  position : fixed
  width: 50%
  height: 240px
  top: 100px
  left: 20%
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
  background-color: white
  z-index: 4

  label,input
    display: inline-block

  table
    margin-top: 0

    td
      border-width: 0
      padding: 0 10px
      text-align: right

    .input-option
      text-align: left
      padding-left: 20px

input.numberFields
  width: 75px
  display: block
  margin-left: auto
  margin-right: auto

#optionsButton
  display: none
  margin: 0 5px
  padding: 0 5px
  cursor: pointer

.optionsButton
  display: inline-block
  margin: 0 5px
  padding: 0 5px
  cursor: pointer

.type-number
  display: inline-block

.close-number-fields
  position: absolute
  top: 10px
  left: 10px

.option-box
  /*display: none;*/
  position: fixed;
  width: 500px;
  top: 25%;
  left: 50%;
  margin-left: -250px;
  background-color: white
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)

  label,input
    display: inline-block

  table
    margin-top: 0

    td
      border-width: 0
      padding: 0 10px
      text-align: right

    .input-number
      text-align: left
      padding-left: 20px

    .single-dropdown
      margin: 0 auto
      width: 300px

      .delete-dropdown
        margin: 7px 5px
        float: right
